[include]
	path = .borgconfig
[submodule "ace-window"]
	path = lib/ace-window
	url = https://github.com/abo-abo/ace-window
[submodule "apheleia"]
	path = lib/apheleia
	url = https://github.com/radian-software/apheleia
[submodule "auto-compile"]
	path = lib/auto-compile
	url = https://github.com/emacscollective/auto-compile
[submodule "avy"]
	path = lib/avy
	url = https://github.com/abo-abo/avy
[submodule "avy-zh"]
	path = lib/avy-zh
	url = https://github.com/dalugm/avy-zh
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg
[submodule "borland-blue-theme"]
	path = lib/borland-blue-theme
	url = https://codeberg.org/fourier/borland-blue-theme
[submodule "c3-ts-mode"]
	path = lib/c3-ts-mode
	url = https://github.com/c3lang/c3-ts-mode
[submodule "cape"]
	path = lib/cape
	url = https://github.com/minad/cape
[submodule "cider"]
	path = lib/cider
	url = https://github.com/clojure-emacs/cider
[submodule "citre"]
	path = lib/citre
	url = https://github.com/universal-ctags/citre
[submodule "clojure-mode"]
	path = lib/clojure-mode
	url = https://github.com/clojure-emacs/clojure-mode
[submodule "clojure-ts-mode"]
	path = lib/clojure-ts-mode
	url = https://github.com/clojure-emacs/clojure-ts-mode
[submodule "closql"]
	path = lib/closql
	url = https://github.com/magit/closql
[submodule "compat"]
	path = lib/compat
	url = https://github.com/emacs-compat/compat
[submodule "cond-let"]
	path = lib/cond-let
	url = https://github.com/tarsius/cond-let
[submodule "consult"]
	path = lib/consult
	url = https://github.com/minad/consult
[submodule "corfu"]
	path = lib/corfu
	url = https://github.com/minad/corfu
[submodule "darkroom"]
	path = lib/darkroom
	url = https://github.com/joaotavora/darkroom
[submodule "dart-ts-mode"]
	path = lib/dart-ts-mode
	url = https://github.com/50ways2sayhard/dart-ts-mode
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el
[submodule "diff-hl"]
	path = lib/diff-hl
	url = https://github.com/dgutov/diff-hl
[submodule "doom-themes"]
	path = lib/doom-themes
	url = https://github.com/doomemacs/themes
[submodule "edit-indirect"]
	path = lib/edit-indirect
	url = https://github.com/Fanael/edit-indirect
[submodule "ef-themes"]
	path = lib/ef-themes
	url = https://github.com/protesilaos/ef-themes
[submodule "eglot-booster"]
	path = lib/eglot-booster
	url = https://github.com/jdtsmith/eglot-booster
[submodule "eglot-tempel"]
	path = lib/eglot-tempel
	url = https://github.com/fejfighter/eglot-tempel
[submodule "eldoc-box"]
	path = lib/eldoc-box
	url = https://github.com/dalugm/eldoc-box
[submodule "elfeed"]
	path = lib/elfeed
	url = https://github.com/skeeto/elfeed
[submodule "elfeed-org"]
	path = lib/elfeed-org
	url = https://github.com/remyhonig/elfeed-org
[submodule "emacsql"]
	path = lib/emacsql
	url = https://github.com/magit/emacsql
[submodule "embark"]
	path = lib/embark
	url = https://github.com/oantolin/embark
[submodule "epkg"]
	path = lib/epkg
	url = https://github.com/emacscollective/epkg
[submodule "epkg-marginalia"]
	path = lib/epkg-marginalia
	url = https://github.com/emacscollective/epkg-marginalia
[submodule "evil"]
	path = lib/evil
	url = https://github.com/emacs-evil/evil
[submodule "evil-nerd-commenter"]
	path = lib/evil-nerd-commenter
	url = https://github.com/redguardtoo/evil-nerd-commenter
[submodule "evil-surround"]
	path = lib/evil-surround
	url = https://github.com/emacs-evil/evil-surround
[submodule "evil-zh"]
	path = lib/evil-zh
	url = https://github.com/dalugm/evil-zh
[submodule "expreg"]
	path = lib/expreg
	url = https://github.com/casouri/expreg
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el
[submodule "fennel-mode"]
	path = lib/fennel-mode
	url = https://git.sr.ht/~technomancy/fennel-mode
[submodule "fsharp-mode"]
	path = lib/fsharp-mode
	url = https://github.com/fsharp/emacs-fsharp-mode
[submodule "git-link"]
	path = lib/git-link
	url = https://github.com/sshaw/git-link
[submodule "git-modes"]
	path = lib/git-modes
	url = https://github.com/magit/git-modes
[submodule "git-timemachine"]
	path = lib/git-timemachine
	url = https://codeberg.org/pidu/git-timemachine
[submodule "goto-chg"]
	path = lib/goto-chg
	url = https://github.com/emacs-evil/goto-chg
[submodule "haskell-ts-mode"]
	path = lib/haskell-ts-mode
	url = https://codeberg.org/pranshu/haskell-ts-mode
[submodule "hl-todo"]
	path = lib/hl-todo
	url = https://github.com/tarsius/hl-todo
[submodule "htmlize"]
	path = lib/htmlize
	url = https://github.com/hniksic/emacs-htmlize
[submodule "hy-mode"]
	path = lib/hy-mode
	url = https://github.com/hylang/hy-mode
[submodule "just-ts-mode"]
	path = lib/just-ts-mode
	url = https://github.com/leon-barrett/just-ts-mode.el
[submodule "llama"]
	path = lib/llama
	url = https://github.com/tarsius/llama
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "modus-themes"]
	path = lib/modus-themes
	url = https://github.com/protesilaos/modus-themes
[submodule "neocaml"]
	path = lib/neocaml
	url = https://github.com/bbatsov/neocaml
[submodule "nix-ts-mode"]
	path = lib/nix-ts-mode
	url = https://github.com/nix-community/nix-ts-mode
[submodule "no-littering"]
	path = lib/no-littering
	url = https://github.com/emacscollective/no-littering
[submodule "ocaml-eglot"]
	path = lib/ocaml-eglot
	url = https://github.com/tarides/ocaml-eglot
[submodule "odin-ts-mode"]
	path = lib/odin-ts-mode
	url = https://github.com/Sampie159/odin-ts-mode
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless
[submodule "parseclj"]
	path = lib/parseclj
	url = https://github.com/clojure-emacs/parseclj
[submodule "parseedn"]
	path = lib/parseedn
	url = https://github.com/clojure-emacs/parseedn
[submodule "pdf-tools"]
	path = lib/pdf-tools
	url = https://github.com/vedang/pdf-tools
[submodule "purescript-mode"]
	path = lib/purescript-mode
	url = https://github.com/purescript-emacs/purescript-mode
[submodule "queue"]
	path = lib/queue
	url = https://github.com/emacsmirror/queue
[submodule "racket-mode"]
	path = lib/racket-mode
	url = https://github.com/greghendershott/racket-mode
[submodule "rust-mode"]
	path = lib/rust-mode
	url = https://github.com/rust-lang/rust-mode
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el
[submodule "separedit"]
	path = lib/separedit
	url = https://github.com/twlz0ne/separedit.el
[submodule "sesman"]
	path = lib/sesman
	url = https://github.com/vspinu/sesman
[submodule "sinolor-themes"]
	path = lib/sinolor-themes
	url = https://github.com/dalugm/sinolor-themes
[submodule "site-lisp"]
	path = lib/site-lisp
	url = https://codeberg.org/pkal/site-lisp.el
[submodule "sly"]
	path = lib/sly
	url = https://github.com/joaotavora/sly
[submodule "sly-asdf"]
	path = lib/sly-asdf
	url = https://github.com/mmgeorge/sly-asdf
[submodule "sly-quicklisp"]
	path = lib/sly-quicklisp
	url = https://github.com/joaotavora/sly-quicklisp
[submodule "spinner"]
	path = lib/spinner
	url = https://github.com/Malabarba/spinner.el
[submodule "standard-themes"]
	path = lib/standard-themes
	url = https://github.com/protesilaos/standard-themes
[submodule "subed"]
	path = lib/subed
	url = https://github.com/rndusr/subed
[submodule "tablist"]
	path = lib/tablist
	url = https://github.com/emacsorphanage/tablist
[submodule "tao-theme"]
	path = lib/tao-theme
	url = https://github.com/11111000000/tao-theme-emacs
[submodule "tempel"]
	path = lib/tempel
	url = https://github.com/minad/tempel
[submodule "toc-org"]
	path = lib/toc-org
	url = https://github.com/snosov1/toc-org
[submodule "transient"]
	path = lib/transient
	url = https://github.com/magit/transient
[submodule "typst-ts-mode"]
	path = lib/typst-ts-mode
	url = https://codeberg.org/meow_king/typst-ts-mode
[submodule "valign"]
	path = lib/valign
	url = https://github.com/casouri/valign
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico
[submodule "vue-ts-mode"]
	path = lib/vue-ts-mode
	url = https://github.com/8uff3r/vue-ts-mode
[submodule "vundo"]
	path = lib/vundo
	url = https://github.com/casouri/vundo
[submodule "wgrep"]
	path = lib/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep
[submodule "winum"]
	path = lib/winum
	url = https://github.com/deb0ch/emacs-winum
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor
[submodule "workspaces"]
	path = lib/workspaces
	url = https://github.com/dalugm/workspaces
[submodule "xiaoshuo-mode"]
	path = lib/xiaoshuo-mode
	url = https://github.com/dalugm/xiaoshuo-mode
[submodule "zh-lib"]
	path = lib/zh-lib
	url = https://github.com/dalugm/zh-lib.el
[submodule "zig-ts-mode"]
	path = lib/zig-ts-mode
	url = https://codeberg.org/meow_king/zig-ts-mode
