[submodule "ace-window"]
	path = lib/ace-window
	url = https://github.com/abo-abo/ace-window.git
[submodule "alect-themes"]
	path = lib/alect-themes
	url = https://github.com/alezost/alect-themes.git
[submodule "all-the-icons"]
	path = lib/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el.git
[submodule "ample-theme"]
	path = lib/ample-theme
	url = https://github.com/jordonbiondo/ample-theme.git
[submodule "anaphora"]
	path = lib/anaphora
	url = https://github.com/rolandwalker/anaphora.git
[submodule "anti-zenburn-theme"]
	path = lib/anti-zenburn-theme
	url = https://github.com/m00natic/anti-zenburn-theme.git
[submodule "apheleia"]
	path = lib/apheleia
	url = https://github.com/radian-software/apheleia.git
[submodule "async"]
	path = lib/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "atom-one-dark-theme"]
	path = lib/atom-one-dark-theme
	url = https://github.com/jonathanchu/atom-one-dark-theme.git
[submodule "auto-compile"]
	path = lib/auto-compile
	url = https://github.com/emacscollective/auto-compile.git
[submodule "auto-yasnippet"]
	path = lib/auto-yasnippet
	url = https://github.com/abo-abo/auto-yasnippet.git
[submodule "autothemer"]
	path = lib/autothemer
	url = https://github.com/jasonm23/autothemer.git
[submodule "avy"]
	path = lib/avy
	url = https://github.com/abo-abo/avy.git
[submodule "avy-zh"]
	path = lib/avy-zh
	url = https://github.com/dalugm/avy-zh.git
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg.git
[submodule "cape"]
	path = lib/cape
	url = https://github.com/minad/cape.git
[submodule "challenger-deep-theme"]
	path = lib/challenger-deep-theme
	url = https://github.com/challenger-deep-theme/emacs.git
[submodule "chocolate-theme"]
	path = lib/chocolate-theme
	url = https://github.com/SavchenkoValeriy/emacs-chocolate-theme.git
[submodule "citre"]
	path = lib/citre
	url = https://github.com/universal-ctags/citre.git
[submodule "closql"]
	path = lib/closql
	url = https://github.com/magit/closql.git
[submodule "color-rg"]
	path = lib/color-rg
	url = https://github.com/manateelazycat/color-rg.git
[submodule "color-theme-sanityinc-solarized"]
	path = lib/color-theme-sanityinc-solarized
	url = https://github.com/purcell/color-theme-sanityinc-solarized.git
[submodule "color-theme-sanityinc-tomorrow"]
	path = lib/color-theme-sanityinc-tomorrow
	url = https://github.com/purcell/color-theme-sanityinc-tomorrow.git
[submodule "compat"]
	path = lib/compat
	url = https://git.sr.ht/~pkal/compat/
[submodule "consult"]
	no-byte-compile = consult-icomplete
	no-byte-compile = consult-selectrum
	path = lib/consult
	url = https://github.com/minad/consult.git
[submodule "corfu"]
	load-path = .
	load-path = extensions
	path = lib/corfu
	url = https://github.com/minad/corfu.git
[submodule "corfu-terminal"]
	path = lib/corfu-terminal
	url = https://codeberg.org/akib/emacs-corfu-terminal.git
[submodule "cyberpunk-theme"]
	path = lib/cyberpunk-theme
	url = https://github.com/n3mo/cyberpunk-theme.el.git
[submodule "darkroom"]
	path = lib/darkroom
	url = https://github.com/joaotavora/darkroom.git
[submodule "darktooth-theme"]
	path = lib/darktooth-theme
	url = https://github.com/emacsfodder/emacs-theme-darktooth.git
[submodule "dart-mode"]
	path = lib/dart-mode
	url = https://github.com/bradyt/dart-mode.git
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el.git
	no-makeinfo = dash-template.texi
[submodule "deferred"]
	path = lib/deferred
	url = https://github.com/kiwanami/emacs-deferred.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = https://github.com/dgutov/diff-hl.git
[submodule "doom-themes"]
	path = lib/doom-themes
	url = https://github.com/doomemacs/themes.git
[submodule "dracula-theme"]
	path = lib/dracula-theme
	url = https://github.com/dracula/emacs.git
[submodule "edit-indirect"]
	path = lib/edit-indirect
	url = https://github.com/Fanael/edit-indirect.git
[submodule "editorconfig"]
	path = lib/editorconfig
	url = https://github.com/editorconfig/editorconfig-emacs.git
[submodule "ef-themes"]
	path = lib/ef-themes
	url = https://git.sr.ht/~protesilaos/ef-themes
[submodule "ein"]
	path = lib/ein
	url = https://github.com/millejoh/emacs-ipython-notebook.git
[submodule "elfeed"]
	path = lib/elfeed
	url = https://github.com/skeeto/elfeed.git
[submodule "elfeed-org"]
	path = lib/elfeed-org
	url = https://github.com/remyhonig/elfeed-org.git
[submodule "emacsql"]
	path = lib/emacsql
	url = https://github.com/magit/emacsql.git
[submodule "embark"]
	path = lib/embark
	url = https://github.com/oantolin/embark.git
[submodule "emmet-mode"]
	path = lib/emmet-mode
	url = https://github.com/dalugm/emmet-mode.git
	build-step = make clean
	build-step = make
[submodule "epkg"]
	path = lib/epkg
	url = https://github.com/emacscollective/epkg.git
	makeinfo = epkg.texi
[submodule "epkg-marginalia"]
	path = lib/epkg-marginalia
	url = https://github.com/emacscollective/epkg-marginalia.git
[submodule "evil"]
	path = lib/evil
	url = https://github.com/emacs-evil/evil.git
[submodule "evil-nerd-commenter"]
	path = lib/evil-nerd-commenter
	url = https://github.com/redguardtoo/evil-nerd-commenter.git
[submodule "evil-surround"]
	path = lib/evil-surround
	url = https://github.com/emacs-evil/evil-surround.git
[submodule "evil-zh"]
	path = lib/evil-zh
	url = https://github.com/dalugm/evil-zh.git
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "expand-region"]
	path = lib/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "eyebrowse"]
	path = lib/eyebrowse
	url = https://depp.brause.cc/eyebrowse.git
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el.git
[submodule "forge"]
	path = lib/forge
	url = https://github.com/magit/forge.git
	info-path = docs
[submodule "geiser"]
	path = lib/geiser
	url = https://gitlab.com/emacs-geiser/geiser.git
[submodule "geiser-guile"]
	path = lib/geiser-guile
	url = https://gitlab.com/emacs-geiser/guile.git
[submodule "geiser-mit"]
	path = lib/geiser-mit
	url = https://gitlab.com/emacs-geiser/mit.git
[submodule "general"]
	path = lib/general
	url = https://github.com/noctuid/general.el.git
[submodule "ggtags"]
	path = lib/ggtags
	url = https://github.com/dalugm/ggtags.git
[submodule "ghub"]
	path = lib/ghub
	url = https://github.com/magit/ghub.git
[submodule "git-link"]
	path = lib/git-link
	url = https://github.com/sshaw/git-link.git
[submodule "git-modes"]
	path = lib/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "git-timemachine"]
	path = lib/git-timemachine
	url = https://codeberg.org/pidu/git-timemachine.git
[submodule "goto-chg"]
	path = lib/goto-chg
	url = https://github.com/emacs-evil/goto-chg.git
[submodule "green-is-the-new-black-theme"]
	path = lib/green-is-the-new-black-theme
	url = https://github.com/fredcamps/green-is-the-new-black-emacs.git
[submodule "gruvbox-theme"]
	path = lib/gruvbox-theme
	url = https://github.com/greduan/emacs-theme-gruvbox.git
[submodule "hl-todo"]
	path = lib/hl-todo
	url = https://github.com/tarsius/hl-todo.git
[submodule "htmlize"]
	path = lib/htmlize
	url = https://github.com/hniksic/emacs-htmlize.git
[submodule "kaolin-themes"]
	path = lib/kaolin-themes
	url = https://github.com/ogdenwebb/emacs-kaolin-themes.git
[submodule "leuven-theme"]
	path = lib/leuven-theme
	url = https://github.com/fniessen/emacs-leuven-theme.git
[submodule "llama"]
	path = lib/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "lua-mode"]
	path = lib/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit.git
	recursive-byte-compile = true
	info-path = docs
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "material-theme"]
	path = lib/material-theme
	url = https://github.com/cpaulik/emacs-material-theme.git
[submodule "modus-themes"]
	path = lib/modus-themes
	url = https://git.sr.ht/~protesilaos/modus-themes
	info-path = doc
[submodule "moe-theme"]
	path = lib/moe-theme
	url = https://github.com/kuanyui/moe-theme.el.git
[submodule "monokai-theme"]
	path = lib/monokai-theme
	url = https://github.com/oneKelvinSmith/monokai-emacs.git
[submodule "no-littering"]
	path = lib/no-littering
	url = https://github.com/emacscollective/no-littering.git
[submodule "nord-theme"]
	path = lib/nord-theme
	url = https://github.com/arcticicestudio/nord-emacs.git
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "org-html-themes"]
	path = opt/org-html-themes
	url = https://github.com/fniessen/org-html-themes.git
[submodule "organic-green-theme"]
	path = lib/organic-green-theme
	url = https://github.com/kostafey/organic-green-theme.git
[submodule "ox-hugo"]
	path = lib/ox-hugo
	url = https://github.com/kaushalmodi/ox-hugo.git
[submodule "pdf-tools"]
	path = lib/pdf-tools
	url = https://github.com/vedang/pdf-tools.git
[submodule "php-mode"]
	path = lib/php-mode
	url = https://github.com/emacs-php/php-mode.git
[submodule "polymode"]
	path = lib/polymode
	url = https://github.com/polymode/polymode.git
[submodule "popon"]
	path = lib/popon
	url = https://codeberg.org/akib/emacs-popon.git
[submodule "posframe"]
	path = lib/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "pug-mode"]
	path = lib/pug-mode
	url = https://github.com/hlissner/emacs-pug-mode.git
[submodule "pyim"]
	path = lib/pyim
	url = https://github.com/tumashu/pyim.git
[submodule "pyim-basedict"]
	path = lib/pyim-basedict
	url = https://github.com/tumashu/pyim-basedict.git
[submodule "rainbow-delimiters"]
	path = lib/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "rainbow-mode"]
	path = lib/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode.git
[submodule "request"]
	path = lib/request
	url = https://github.com/tkf/emacs-request.git
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el.git
[submodule "search-dired"]
	path = lib/search-dired
	url = https://github.com/dalugm/search-dired.git
[submodule "separedit"]
	path = lib/separedit
	url = https://github.com/twlz0ne/separedit.el.git
[submodule "sinolor-themes"]
	path = lib/sinolor-themes
	url = https://github.com/dalugm/sinolor-themes.git
[submodule "solarized-theme"]
	path = lib/solarized-theme
	url = https://github.com/bbatsov/solarized-emacs.git
[submodule "spacemacs-theme"]
	path = lib/spacemacs-theme
	url = https://github.com/nashamri/spacemacs-theme.git
[submodule "sqlite3"]
	path = lib/sqlite3
	url = https://github.com/pekingduck/emacs-sqlite3-api.git
	build-step = make
[submodule "srcery-theme"]
	path = lib/srcery-theme
	url = https://github.com/srcery-colors/srcery-emacs.git
[submodule "subed"]
	path = lib/subed
	url = https://github.com/rndusr/subed.git
	load-path = subed
[submodule "tablist"]
	path = lib/tablist
	url = https://github.com/politza/tablist.git
[submodule "tao-theme"]
	path = lib/tao-theme
	url = https://github.com/11111000000/tao-theme-emacs.git
[submodule "toc-org"]
	path = lib/toc-org
	url = https://github.com/snosov1/toc-org.git
[submodule "tomelr"]
	path = lib/tomelr
	url = https://github.com/kaushalmodi/tomelr.git
[submodule "transient"]
	path = lib/transient
	url = https://github.com/magit/transient.git
	info-path = docs
[submodule "treepy"]
	path = lib/treepy
	url = https://github.com/volrath/treepy.el.git
[submodule "valign"]
	path = lib/valign
	url = https://github.com/casouri/valign.git
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico.git
[submodule "vundo"]
	path = lib/vundo
	url = https://github.com/casouri/vundo
[submodule "web-mode"]
	path = lib/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "websocket"]
	path = lib/websocket
	url = https://github.com/ahyatt/emacs-websocket.git
[submodule "wgrep"]
	path = lib/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "winum"]
	path = lib/winum
	url = https://github.com/deb0ch/emacs-winum.git
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "xr"]
	path = lib/xr
	url = https://github.com/mattiase/xr.git
[submodule "yaml"]
	path = lib/yaml
	url = https://github.com/zkry/yaml.el.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "zenburn-theme"]
	path = lib/zenburn-theme
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "zh-lib"]
	path = lib/zh-lib
	url = https://github.com/dalugm/zh-lib.el.git
